/* header part */
.header-part{
    max-width: 1450px;
    max-height: 700px;
    align-items: center;
    margin: 150px;
    padding: 150px;
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
}
.part-1{
    display: flex;
    justify-content: space-between;
}
.logo-1{
    color: #4E47FF;
    font-size: 34px;
}
.btn-primary-1{
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    color: aliceblue;
    border-radius: 10px;
}
.btn-primary-2{
    width: 174px;
    height: 48px;
    background-color: #4E47FF;
    color: aliceblue;
    border-radius: 10px;
    margin-left: 250px;
}
.part-2{
    width: 905px;
    height: 237px;
    margin: 0 auto;
    
}
.logo-2{
    font-weight: bold;
    font-size: 65px;
}
/* main part */
.main{
    margin-bottom: 50px;
}
.total-main{
    background-color: #F5F8FF;
}
.main-part{
    width: 1140px;
    height: 328px;
    display: flex;
    justify-content: space-between;
    /* margin: 151 154 159px; */
    margin-left: 250px;
    margin-top: 50px;
    padding: 70px;
}
.main-title{
    font-weight: bold;
    font-size: 42px;
}
.btn-primary-3{
    width: 174px;
    height: 48px;
    background-color: #4E47FF;
    color: aliceblue;
    border-radius: 10px;
}
.img-1{
    width: 403px;
    height: 328px;
    border-radius: 25px;
}
.div-2{
    gap: 20px;
}
/* section-2 part */
.banner-section{
    background-color: rgba(37, 99, 235, 0.1); 
    width: 1140px;
    height: 306px;
    border-radius: 20px;
    /* border: 5px solid tomato; */
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}
.banner-header{
    font-weight: bold;
    font-size: 38px;
    align-items: center;
    margin-left: 10px;
    padding: 15px;
}
.total-banner{ 
    width: 856px;
    height: 206px;
    margin: 0 auto;
 } 
.total-into{
    display: flex;
    justify-content: space-around;
}

.into-part{
    width: 180px;
    height: 121px;
    /* border: 3px solid greenyellow; */
    /* margin: 10px; */
    padding: 15px;

}
.title{
    color: #4E47FF;
    font-weight: bold;
    font-size: 40px;
}

/* section-2 styles */
.section-2{
    width: 1140px;
    height: 345px;
    /* border: 5px solid tomato; */
    margin: 0 auto;

}
.sec-2-title{
    font-weight: bold;
    font-size: 42px;
    margin-left: 200px;
    margin-bottom: 10px;
    padding: 50px;
    align-items: center;
}
.card{
    display: flex;
    justify-content: space-around;
    max-width: 1140px;
    height: 243px;
    margin-top: 20px;
    background-color: #FFFFFF;
    box-shadow: 5px;
}
.card-styles{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 367px;
    height: 243px;
    gap: 24px;
    padding: 24px;
    margin: 15px;
}
.icon{
    width: 80px;
    height: 80px;
    padding: 5px;

}
.flex-styles{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
}
/* section-part-3 */
.section-part-3{
    width: 1140px;
    height: 696px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 228px;
    padding: 10px;
}
.part-3-title{
    font-weight: bold;
    font-size: 50px;
    margin-top: 71px;
}
.free-btn{
    background-color: #4E47FF;
    color: #F5F8FF;
    width: 195px;
    height: 48px;
    padding: 15px;
    border-radius: 15px;
    margin-left: 146px;
    margin-bottom: 20px;
}
.pic-web{
    width: 840px;
    height: 364px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 71px;
    border-radius: 48px;
}
.div-3{
    margin-left: 312px;
    margin-right: 312px;
    margin-top: 71px;
}

/* section-part-4 */
.section-part-4{
    width: 1140px;
    height: 632px;
    display: flex;
    margin: 0 auto;
    margin-top: 78px;
    margin-bottom: 20px;


}
.part-4-title{
    width: 528px;
    height: 232px;
    font-weight: bold;
    font-size: 97px;
    align-items: center;
    margin-top: 200px;
}
.input-part{
    width: 497px;
    height: 490px;
    padding: 15px;
}
.form-1{
    width: 480px;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
}
.form-2{
    width: 480px;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
}
.btn-touch{
    width: 480px;
    height: 50px;
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;

}

/* footer part */
.footer-part{
    width: 1440px;
    height: 428px;
    background-color: #FFFFFF;
    margin: 0 auto;
    /* padding: 20px; */
    margin-top: 30px;
    border-radius: 30px;

}
.last-part{
    width: 531px;
    height: 221px;
    margin-left: 454px;
    margin-right: 454px;
    margin-top: 104px;
    margin-bottom: 103px;
    padding: 10px; 
}
.last-title{
    font-weight: 291px;
    font-size: 120px;
    color: #4E47FF;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 8px;
}
.last-p{
    width: 531px;
    height: 48px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 8px;
}
.last-div{
    width: 401px;
    height: 24px;
    display: flex;
    justify-content: space-around;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    /* margin-left: 519px; */
    /* margin-right: 520px; */

}